.tituloGral{
    text-align: center;
}


.cuerpo{
    display: flex;
    flex-direction: column;
}


.cuerpoProductos{
    display: flex;
    flex-flow: column wrap;
    margin-left: 1.15rem;
    margin-top: 2rem;

}

.fotos{
    width: 200px;
    height: 200px;
    object-fit: cover;
    align-self: center;
}

#items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 2%;
    height: 30%;
}

.tituloCategoria{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.tituloProducto{
    font-size: 1rem;
    text-align: center;
}

.precio{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 6%;
    font-weight: 600;
}

.btnComprar, #botonVaciar, .btnX{
    background-color: #b67718;
    font-weight: 600;
    align-self: center;
    
    &:hover{
        background-color: #09925b;
    }
}

.btnComprar{
    width: fit-content;
}
aside{
    align-self: center;
    margin-bottom: 3%;
}